<nav class="nav-bar">
    <img id="logo" class="logo" src="/zero.png" alt="logo" />
    <div id="nav-item-home" class="link-icon-container hidden-container">
        <img class="link-icon" src="/home.png" alt="home ico" />
        <a class="nav-link" href="/">Home</a>
    </div>
    <div id="nav-item-posts"  class="link-icon-container hidden-container">
        <img class="link-icon" src="/posts.png" alt="posts ico" />
        <a class="nav-link" href="/myposts">My Posts</a>
    </div>
    <div id="nav-item-account" class="link-icon-container hidden-container">
        <img class="link-icon" src="/account.png" alt="account ico" />
        <a class="nav-link" href="/login">Log In</a>
    </div>
</nav>
