<nav class="nav-bar">
        <img class="logo" src="/zero.png" alt="logo">
        <div class="link-icon-container">
            <img class="link-icon" src="/home.png" alt="home ico">
            <a class="nav-link" href="/home">Home</a>
        </div>
        <div class="link-icon-container">
            <img class="link-icon" src="/posts.png" alt="posts ico">
            <a class="nav-link" href="/myposts">My Posts</a>
        </div>
        <div class="link-icon-container">
                <img class="link-icon" src="/account.png" alt="account ico">
                <a class="nav-link" href="/login">Log In</a>
        </div>
</nav>