<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/new-post.css">
    <title>New Post</title>
</head>
<body>
    <nav class="nav-bar">
        <img class="logo" src="/zero.png" alt="logo">
        <div class="link-icon-container">
            <img class="link-icon" src="/home.png" alt="home ico">
            <a class="nav-link" href="/home">Home</a>
        </div>
        <div class="link-icon-container">
            <img class="link-icon" src="/posts.png" alt="posts ico">
            <a class="nav-link" href="/myposts">My Posts</a>
        </div>
        <div class="link-icon-container">
                <img class="link-icon" src="/account.png" alt="account ico">
                <a class="nav-link" href="/login">Log In</a>
        </div>
    </nav>
    <main>
        <form class="flex-form" action="/newpost" method="POST">
            <input class="post-title" id="title" type="text" placeholder="Title">
            <textarea class="post-body" name="postBody" placeholder="Write your post here!"></textarea>
            <button class="btn-submit" type="submit">Submit Post!</button>
        </form>
    </main>
</body>
</html>