<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/new-post.css">
    <link rel='stylesheet' href="/styles/main.css">
    <link rel='stylesheet' href="/styles/nav.css">
    <script src="/scripts/nav.js"></script>
    <title>New Post</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <main>
        <form class="flex-form" action="/newpost" method="POST">
            <input class="post-title" name="title" type="text" placeholder="Title">
            <textarea class="post-body" name="postBody" placeholder="Write your post here!"></textarea>
            <button class="btn-submit" type="submit">Submit Post!</button>
        </form>
    </main>
</body>
</html>