@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand:300,500&display=swap');

*{
    font-family: 'Quicksand';
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    background-color: #2C3A49;
    display: flex;
    font-size: .8rem;
}

.nav-link{
    text-decoration: none;
    color: #E0E0E0;
    margin: 20px;
}

.logo{
    margin: 5px;
    border-radius: 200px;
    width: 50px;
    height: 50px;
}


.flex-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-title{
    width: 90%;
    font-size: .8rem;
    font-weight: 500;
    margin: 10px;
}

.post-body{
    width: 90%;
    height: 400px;
    font-size: .8rem;
    font-weight: 300;
    margin: 10px;
}

.btn-submit{
    width: 90%;
    height: 40px;
    margin: 10px;
    border: none;
    background-color: #27AE60;
    color: white;
}

@media only screen and (min-width: 768px) {
    .nav-bar{
        font-size: 1.3rem;
    }

    .post-title{
        font-size: 1.3rem;
    }

    .post-body{
        font-size: 1.1rem;
    }
}

