
.post-container{
    margin:15px;
    display:flex;
    flex-direction: column;
    background-color: #eef0f1c9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.new-post-container{
    background-color: #ff7f50;
    border-radius: 4px;
    margin: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 180px;
}

@media only screen and (min-width: 768px) {
    .new-post-container{
        width: 210px;
    }

    .new-post-link{
        font-size: 1.3rem;
    }
}

.new-post-link{
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.new-post-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.title-text{
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.short-body-text{
    font-size: .9rem;
    text-decoration: none;
    color: black;
}


.meta-container{
    display:flex;
    align-items: center;
}

.upvotes-icon{
    width: 30px;
    height: auto;
    transition: width 0.2s;
}

.upvotes-icon:hover{
    width: 35px;
    height: auto;
    cursor: pointer;
}

.meta-text{
    font-size: .9rem;
}

.downvotes-icon:hover{
    width: 35px;
    height: auto;
    cursor: pointer;
}

.downvotes-icon{
    width: 30px;
    height: auto;
    margin-left: 10px;
    transition: width 0.2s;
}

.comments-icon{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 5px;

}