.nav-bar {
    background-color: #2c3a49;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    overflow: hidden;
}

.nav-link {
    text-decoration: none;
    color: #e0e0e0;
    margin: 0 auto;
}

.hidden-container {
    display: none;
}

.shown-container {
    display: block;
}

.link-icon-container {
    padding: 1em;
    border-top: 1px solid #6269699d;
    border-bottom: 1px solid #232f3b;
    width: 100%;
    text-align: center;
}

.link-icon {
    height: 15px;
    width: 15px;
}

.logo {
    border-radius: 200px;
    width: 50px;
    height: 50px;
    margin: 5px auto;
}


@media only screen and (min-width: 600px) {
    .nav-bar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
    }

    .hidden-container {
        display: inline-block;
    }

    .shown-container {
        display: inline-block;
    }

    .link-icon-container {
        padding: 0;
        border: 0;
        width: auto;
        text-align: center;
        margin: 0 30px;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin: 3px 10px;
    }
}

@media only screen and (min-width: 800px) {
    .nav-bar {
        flex-direction: row;
        justify-content: flex-start;
        font-size: 1rem;
    }

}

