
.title{
    margin: 10px;
}

.author{
    margin: 10px 0 3px 10px;
    font-size: .9rem;
}

.date {
    margin: 3px 0 20px 10px;
    font-size: .9rem;
}

.body{
    margin: 10px 10px 30px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}



.comment-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comment-area{
    height: 100px;
    width: 90%;
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.671);
}

.btn-comment{
    background-color: #34495e;
    border: 1px #34495e;
    font-weight: 500;
    color: white;
    padding: 15px;
}

.comment-container{
    margin-right: 40px;
}




.meta-container{
    display:flex;
    align-items: center;
    margin-left: 10px;
}

.upvotes-icon{
    width: 30px;
    height: auto;
    transition: width 0.2s;
}

.upvotes-icon:hover{
    width: 35px;
    height: auto;
    cursor: pointer;
}

.meta-text{
    font-size: .9rem;
}

.downvotes-icon:hover{
    width: 35px;
    height: auto;
    cursor: pointer;
}

.downvotes-icon{
    width: 30px;
    height: auto;
    margin-left: 10px;
    transition: width 0.2s;
}

.comments-icon{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 5px;

}